*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
header{
	width: 100%;
	background: #000 ;
	display: flex;
}
.header__logo{
	text-transform: uppercase;
	color:#fff;
	font-weight: 800;
	font-style: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}

nav{
	margin-top: 56px;
	margin-left: 29%;
}
.topnav a{
	color:#fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}

.topnav a:hover{
	border-bottom: 3px solid #fcac45;

}
.topnav .icon{
	display: none;
}

main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main__welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}
main .main__welcome p{
	color: #999999;
	font-size: 20px;
}
main .main__welcome h1{
	color: #999999;
	font-size: 44px;
}
main .main__welcome h1:after{
	display: none;
}
.mycompany{
	color: #fcac45;
}

.wrapper{
	width: 70%;
	margin: 0 auto;
}
main .main__about{
	display: flex;
	padding: 100px 0 100px 0;
}
.about__right{
	margin-left: 175px;
}
.about__right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}

.about__right h1:after{
	display: none;
	}
.about__right p{
	margin: 30px 100px 50px 0;
	color:#6c6c6c;
	font-size: 18px;
}
.about__right li{
	background: url(img/mark.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}
.mw-100{
	min-width: 100%;
}
.main__team{
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color:#fff;
}
.main__team h1{
	font-size: 44px;
}
.main__services{
	background: #fff;
	text-align: center;
	padding: 100px 0 165px 0;
	color:#000;
}
.main__clients{
	background: #000;
	text-align: center;
	padding: 100px 0 205px 0;
	color:#fff;
}
.main__clients img{
	margin-top: 10px;
	margin-left: 30px;
}
.devices{
	background: #fff;
	border:5px solid #fcac45;   
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.picture{
	margin:35px 40px ;
}
.services__devices{
	display: flex;
}

.photo{
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.team__cards{
	display: flex;
}
.card{
	margin:0 40px ;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
}
.position{
	font-size: 16px;
	margin-bottom: 35px;
}
.about__position{
	font-size: 14px;
}

.clients{
}
.main__testimonials{
	background: #000;
	text-align:center; 
	color: #fff;
	padding-bottom: 170px;
}
.main__testimonials .testimonial{
	text-transform: uppercase;
	margin-bottom: 50px;
}
.main__testimonials h1{
	margin-top: 100px;
	text-transform: uppercase;
}
.main__work{
	text-align:center;
	padding: 100px 0 100px 0;
}
.main__work h1{
	margin-bottom: 30px;
}
.main__work p{
	margin-bottom: 175px;
	color:#6c6c6c;
}
.main__work img{
	margin-right: 30px;
	margin-bottom: 30px;
}
.main__work img:hover{
	opacity: 90%;
}

.contact__wrapper{
	width: 753px;
	margin: 0 auto;
	color:#636363;
}
.contact__form{
	padding: 100px 0 100px 0;
}
.contact__form h1,p{
	text-align: center;
}
.contact__form h1{
	font-size: 44px;
	color:#000;
}
.red{
	color: red;
}
.form__inputs{
	display: flex;
}
form p{
	text-align: left;
}
input{
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}
input:first-of-type{
	margin-right: 25px;
}
textarea{
	width: 100%;
	height: 163px;
}
input,textarea{
	border:1px solid #999999;
	margin-top: 5px;
}
.button__block{
	display: flex;
	justify-content: flex-end;
}

h1:after{
	content:"";
	display: block;
	margin: 0 auto 60px ;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color:#fff;
	margin-right: 0;
	margin-top: 20px;
}
.social{
	display: flex;
	justify-content: center;
}
footer{
	width: 100%;
	height: auto;
	background: #222222;
}
.social img{
	padding: 30px 0 30px 0;
	margin-left: 12px;
}
.social img:hover{
	opacity: 0.6;
}
@media screen and (max-width: 1237px) {
	nav{
		margin-left: 20%;
	}
}

@media screen and (max-width: 1070px) {
	nav{
		margin-left: 10%;
	}
}

@media screen and (max-width: 1080px) {
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float:right;
		margin-top:-17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left:-200px;
	}
	header .topnav.responsive{
		height: 340px;
	}

	.topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right:-200px;
	}

	.topnav.responsive a{
		float:none;
		display: block;
		text-align: left;
	}

	main .main__welcome{
		padding: 50px 0 50px 0;
	}
	main .main__welcome p{
		font-size: 14px;
	}
	main .main__welcome h1{
		font-size: 25px;
	}
	.mw-100{
		max-width: 100%;
	}
	.main__about{
		flex-direction: column;
	}
	.about__right{
		text-align: center;
		margin-left: 0;
	}
	.about__right li{
		text-align: left;
	}
	.about__right h1{
		margin-top: 10px;
		font-size: 20px;
	}

	.team__cards{
		flex-direction: column;
	}
	.services__devices{
		flex-direction: column;
	}
	.line1 img:not(:first-child){
		display: none;
	}
	.line2 img:not(:first-child){
		display: none;
	}
	.line3 img:not(:first-child){
		display: none;
	}
}